.header-admin {
  position: sticky;
  top: 10px;
  z-index: 1010;
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: space-between;
  
  gap: 15px;
  padding: 15px 25px;
  background: var(--color-primario); 
  border-radius: 20px;
  box-shadow: 4px 4px 0px var(--color-borde);
  border: 2px solid var(--color-borde);
  margin-bottom: 15px;
}

.header-admin div h1 {
  margin: 0;
  color: var(--color-acento);
}

.header-admin h1 {
  margin: 0;
  color: var(--color-acento);
  font-size: 1.2rem;
  font-weight: 800;
}

.btn-logout {
  background-color: #fff9c4;
  color: var(--color-peligro);
  border: 2px solid var(--color-borde);
  padding: 8px 15px;
  border-radius: 10px;
  font-weight: 800;
  font-size: 0.75rem;
  cursor: pointer;
  box-shadow: 2px 2px 0px var(--color-borde);
}